*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

:root{
    /* background-color */
    --bg-primary-color:rgb(39, 39, 39);

    /* text color */
    --text-primary-color:rgb(208, 203, 203);

    /*spacing variables(padding)*/
    --space-xs:4px;
    --space-sm:8px;
    --space-md:16px;
    --space-lg:24px;
    --space-xl:32px;
    --space-2xl:40px;
    --space-3xl:48px;

    /* border color */
    --border-primary-color:rgb(94, 94, 94);

    /* border radius */
    --border-radius-xs:4px;
    --border-radius-sm:8px;
    --border-radius-md:12px;
    --border-radius-lg:16px;
    --border-radius-xl:20px;
    --border-radius-2xl:24px;

    /* snake color */
    --fill-color:rgb(236, 91, 65);

    /* food color */
    --food-color:white;
}

html{
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main,section{
    width: 100%;
    height: 100%;
}
section{
    padding:var(--space-2xl);
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: var(--space-lg);
}
section .infos{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.info{
    padding: var(--space-sm) var(--space-md);
    border: 1px solid var(--border-primary-color);
    border-radius: var(--border-radius-sm);
}


.board{
    border: 1px solid var(--border-primary-color);
    flex-grow:1 ;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(50px,1fr));
    grid-template-rows: repeat(auto-fill,minmax(50px,1fr));
}

.block{
    border: 1px solid var(--border-primary-color);
}

.fill{
  background-color: var(--fill-color);
}

.food{
    background-color: var(--food-color);
}

.modal{
    height: 100vh;
    width: 100vw;
    position: fixed;
    color: var(--text-primary-color);
    top: 0;
    background-color: rgba(30, 29, 29, 0.474);
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-md);
}

.modal h3{
    font-size: 30px;
}

.btn{
    padding: var(--space-sm) var(--space-md);
    border-radius: var(--border-radius-md);
}